/* wpcf7 adds these P tags, just use it as a wrapper */
.wpcf7-form > p {
    font-size: 14px;
  }
  .wpcf7-form input.focused {
    top: 20px;
    font-size: 1.25em;
    background-color: #FAFAD2 !important;
  }
  .wpcf7-form select.focused option {
    top: 20px;
    font-size: 80%;
    font-weight: bold;
    background-color: #FAFAD2 !important;
  }
  .wpcf7-form input.applicant {
    border: none !important;
    background-color: transparent;
    font-size: 90%;
    font-weight: normal;
  }
  wpcf7-dynamichidden:parent {
    display:none;
  }
  
  /* Begin floating grid for Contact Form 7 */
  .et_pb_all_tabs {
    width: 90%;
  }
  span.wpcf7-form-control-wrap {
    position: relative;
    margin-left: 5px;
  }
  div.wpcf7 .formlabel {
    margin-bottom: 5px;
    font-weight: bold;
    max-width: 250px;
  }
  div.wpcf7 .form-group {
    margin-bottom: 5px;
    clear:both;
  }
  div.wpcf7 .formlabel {
    float: left;
    width: 26%;
    text-align: right;
  }
  label {
    display: block;
  }
  /* End floating grid */
  
  .wpcf7-form-control-wrap .wpcf7-text {
    max-width: 90%;
  }
  
  .wpcf7-submit {
    color: #2EA3F2 !important;
    margin: 25px 5px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 6px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .wpcf7-submit:hover { 
    background-color: #eee; 
    border-color:#eee; 
    padding-top: 6px 10px !important; 
  }
  .form-group .wpcf7-submit {
    margin-top: 10px !important; 
  }
  .wpcf7-form button {
    color: #2EA3F2 !important;
    /*margin: 30px auto 0;*/
    margin: 25px 5px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 6px 6px;
    line-height: 1.7em;
    background: transparent;
    border: 2px solid;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .wpcf7-form button:hover { 
  background-color: #eee; 
  border-color:#eee; 
  padding: 6px 10px !important; 
  }
  .form-group button {
    margin-top: 10px !important; 
  }
  
  /* Screen Reader          */
  /*  (accessibility plugin) */
  #accessibility-links {
    bottom: auto;
    right: 10%;
    top: 0;
  }
  header#main-header {
    /*padding-top: 37px;*/
    margin-top: 37px;
  }
  
  /* DataTables */
  #applicant-search .nameField {
    min-width: 130px;
  }
  #applicant-search .phoneField {
    min-width: 95px;
  }
  .dataTables_length {
    margin-top: 3px;
    margin-right: 10px;
  }
  .dataTables_length label {
    font-size: .85em !important;
  }
  .dataTables_filter {
    margin-top: 5px;
  }
  .dataTables_filter label {
    font-size: .85em;
  }
  .dt-button {
    line-height: 1.2em !important;
    font-size: 0.75em !important;
  }
  /* end */
  
  @media only screen and ( max-width:328px ) {
    #accessibility-links { right:0 !important; }
    #main-header { margin-top: 72px !important; }
    body.admin-bar #accessibility-links { top:46px !important; }
  }
  @media only screen and ( max-width:360px ) {
    #accessibility-links { right:0 !important; } 
  }
  @media only screen and ( min-width:329 ) {
    body.admin-bar #accessibility-links { top:46px !important; }
  }
  @media only screen and ( min-width:783px ) {
    body.admin-bar #accessibility-links { top:32px !important; }
  }
  @media only screen and ( min-width:1400px ) {
    #accessibility-links { right:15% !important; } 
  }
  @media only screen and ( min-width:1700px ) {
    #accessibility-links { right:20% !important; } 
  }
  /* end Screen Reader */